<% if(success && success.length > 0){ %>
<div class="container mt-4">
  <% for(let msg of success){ %>
  <div class="alert alert-success" role="alert">
    <i class="fas fa-check-circle"></i>
    <span><%= msg %></span>
  </div>
  <% } %>
</div>
<% } %>
<% if(error && error.length > 0){ %>
<div class="container mt-4">
  <% for(let msg of error){ %>
  <div class="alert alert-danger" role="alert">
    <i class="fas fa-exclamation-circle"></i>
    <span><%= msg %></span>
  </div>
  <% } %>
</div>
<% } %>
