<%- layout('./layout/boilerplate.ejs') %>
<div class="container mt-5">
  <h2 class="mb-4">Change Your Password.</h2>
  <form action="/user/change-password?_method=put" method="POST" class="needs-validation" novalidate>
        <div class="mb-3">
        <label for="currentPassword" class="form-label">Current Password</label>
        <input type="password" id="currentPassword" name="currentPassword" class="form-control">
        <div class="valid-feedback">Looks good!</div>

        <div class="mb-3">
        <label for="newPassword" class="form-label">New Password</label>
        <input type="password" id="newPassword" name="newPassword" class="form-control">
        <div class="valid-feedback">Looks good!</div>
        
        <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm New Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" class="form-control">
        <div class="valid-feedback">Looks good!</div>
    </div>

    <button class="btn btn-success">Change Password </button>
    <a href="/user/info" class="btn btn-secondary">Back</a>
  </form>
</div>  