<%- layout('./layout/boilerplate.ejs') %>


<div class="container mt-5">
  <h2 class="mb-4">Create a New Bookmark</h2>


    <form action="/collections/<%= collection._id %>?_method=put" method="POST" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Collection Name" value="<%= collection.name %>" required>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please enter a collection name .</div>
        </div>
        
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="description" id="description" class="form-control" placeholder="Description"><%= collection.description %></textarea>
            <div class="valid-feedback">Looks good!</div>
        </div>
        <button class="btn btn-success">Update Collection</button>
    </form>

</div>